body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
    color: #95a5a6;
}

input {
    color: #4a5152;
}

.hero-unit {
    line-height: 30px;
    background-color: #eee;
    padding: 0 20px;
    border-radius: 6px;
}

.hero-unit h1 {
    font-size: 16px;
    line-height: 1;
    letter-spacing: -1px;
    text-align: center;
}

.report {
    text-align: center;
}

.row {
    padding: 40px 140px;
}

.period {
    font-size: 70px;
    font-weight: bold;
    padding-left: 40px;
    vertical-align: middle;
    text-transform: uppercase;
}

.header div {
    display: inline-block;
}

.date {
    font-size: 35px;
    padding-bottom: 10px;
    font-weight: 100;
    vertical-align: middle;
}

.report p {
    font-size: 15px;
    font-weight: 100;
}

.total {
    color: #384242;
    font-weight: bold;
    font-size: 70px;
}

.login-panel {
    margin: 80px auto;
    width: 800px;
    text-align: center;
}

.login-panel h1 {
    color: #384242;
    font-size: 48px;
}

.login-panel form {
    padding: 16px 0;
}