<div class="reports">
	<div class="row" ng-controller="today">
		<div class="pure-g">
			<div class="pure-u-1 header">
				<div class="period">Today <div class="date">({{datePeriod}})</div></div>
			</div>
		</div>
		<div class="pure-g">
			<div class="pure-u-1-4 report registered">
				<span class="total">{{registered.total}}</span>
				<p>users registered</p>
			</div>

			<div class="pure-u-1-4 report logged">
				<span class="total">{{loggedOn.total}}</span>
				<p>users logged</p>
			</div>

			<div class="pure-u-1-4 report networks">
				<span class="total">{{networksCreated.total}}</span>
				<p>networks enabled</p>
			</div>

			<div class="pure-u-1-4 report searches">
				<span class="total">{{searches.total}}</span>
				<p>searches performed</p>
			</div>
		</div>
	</div>

	<div class="row" ng-controller="week">
		<div class="pure-g">
			<div class="pure-u-1 header">
				<div class="period">Week <div class="date">({{datePeriod}})</div></div>
			</div>
		</div>
		<div class="pure-g">
			<div class="pure-u-1-4 report registered">
				<span class="total">{{registered.total}}</span>
				<p>users registered</p>
			</div>

			<div class="pure-u-1-4 report logged">
				<span class="total">{{loggedOn.total}}</span>
				<p>users logged</p>
			</div>

			<div class="pure-u-1-4 report networks">
				<span class="total">{{networksCreated.total}}</span>
				<p>networks enabled</p>
			</div>

			<div class="pure-u-1-4 report searches">
				<span class="total">{{searches.total}}</span>
				<p>searches performed</p>
			</div>
		</div>
	</div>

	<div class="row" ng-controller="month">
		<div class="pure-g">
			<div class="pure-u-1 header">
				<div class="period">Month <div class="date">({{datePeriod}})</div></div>
			</div>
		</div>
		<div class="pure-g">
			<div class="pure-u-1-4 report registered">
				<span class="total">{{registered.total}}</span>
				<p>users registered</p>
			</div>

			<div class="pure-u-1-4 report logged">
				<span class="total">{{loggedOn.total}}</span>
				<p>users logged</p>
			</div>

			<div class="pure-u-1-4 report networks">
				<span class="total">{{networksCreated.total}}</span>
				<p>networks enabled</p>
			</div>

			<div class="pure-u-1-4 report searches">
				<span class="total">{{searches.total}}</span>
				<p>searches performed</p>
			</div>
		</div>
	</div>

	<div class="row" ng-controller="lastMonth">
		<div class="pure-g">
			<div class="pure-u-1 header">
				<div class="period">Last Month <div class="date">({{datePeriod}})</div></div>
			</div>
		</div>
		<div class="pure-g">
			<div class="pure-u-1-4 report registered">
				<span class="total">{{registered.total}}</span>
				<p>users registered</p>
			</div>

			<div class="pure-u-1-4 report logged">
				<span class="total">{{loggedOn.total}}</span>
				<p>users logged</p>
			</div>

			<div class="pure-u-1-4 report networks">
				<span class="total">{{networksCreated.total}}</span>
				<p>networks enabled</p>
			</div>

			<div class="pure-u-1-4 report searches">
				<span class="total">{{searches.total}}</span>
				<p>searches performed</p>
			</div>
		</div>
	</div>

</div>