<div class="login-panel">
	<h1>Welcome to Analytics.</h1>
	<p>You should have your analytics account in order to access data. Please contact your admin for access.</p>
	<form class="pure-form" ng-submit="login()">
		<input type="text" class="pure-input-1-4" placeholder="Username..." name="username" ng-model="username" required/>
		<input type="password" class="pure-input-1-3" placeholder="Password..." name="password" ng-model="password" required/>

		<button type="submit" class="pure-button pure-button-primary">Sign in</button>
	</form>
</div>