<div class="row">
	<div class="pure-g-r">
		<div class="pure-u-1 header">
			<div class="period">{{heading}} <div class="date">({{datePeriod}})</div></div>
		</div>
	</div>
	<div class="pure-g-r">

		<div class="pure-u-1-6 report">
			<span class="total">{{registered.total}}</span>
			<p>users registered</p>
		</div>

		<div class="pure-u-1-6 report">
			<span class="total">{{loggedOn.total}}</span>
			<p>users logged</p>
		</div>

		<div class="pure-u-1-6 report">
			<span class="total">{{deactivated.total}}</span>
			<p>accounts deleted</p>
		</div>

		<div class="pure-u-1-6 report">
			<span class="total">{{shares.total}}</span>
			<p>likes shared</p>
		</div>

		<div class="pure-u-1-6 report">
			<span class="total">{{networksCreated.total}}</span>
			<p>networks enabled</p>
		</div>

		<div class="pure-u-1-6 report">
			<span class="total">{{searches.total}}</span>
			<p>searches performed</p>
		</div>

	</div>
	<div class="pure-g-r">

		<div class="pure-u-1-6 report">
			<span class="total">{{collectionsCreated.total}}</span>
			<p>collections created</p>
		</div>

		<div class="pure-u-1-6 report">
			<span class="total">{{collectionsShared.total}}</span>
			<p>collections shared</p>
		</div>

		<div class="pure-u-1-6 report">
			<span class="total">{{collectionsFollowed.total}}</span>
			<p>collections followed</p>
		</div>

		<div class="pure-u-1-6 report">
			<span class="total">{{collectionsUnfollowed.total}}</span>
			<p>collections unfollowed</p>
		</div>

		<div class="pure-u-1-6 report">
			<span class="total">{{collectionsItemsAdded.total}}</span>
			<p>collections item added</p>
		</div>

		<div class="pure-u-1-6 report">
			<span class="total">{{sends.total}}</span>
			<p>send to friends</p>
		</div>
	</div>
</div>
